.container{
    svg{
        color:rgb(97, 97, 97);
        cursor: pointer;
        font-size: 25px;
        &.selected{
            color: rgb(242, 242, 0);
        }
    }
    path{
        pointer-events: none;
    }
}