.counter{
    height: fit-content;
    button{
        width: 20px;
        height: 20px;
        background-color: #1B74E4;
        border: 0;
        border-radius: 50%;
        color: white;
        font-weight: 900;
        cursor: pointer;
    }
    span{
        font-family: sans-serif;
    };
}